:root {
  --main-color: #181d24;
  --color-dark: #1d2231;
  --text-brown: #ca9d75;
}

body {
  font-family: "Inter", sans-serif;
}

.header__container {
  background: linear-gradient(rgba(24, 29, 36, 0.571), rgba(202, 157, 117, 0.441)),
    url("https://res.cloudinary.com/dbdgevqyn/image/upload/v1628512014/portfolio/hero.jpg");
  /* url("./assets/images/hero/hero.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 70vh;
}

.header__container__alt {
  background-color: var(--main-color);
  height: 30vh;
}

.content__wrapper {
  margin-top: 20vh;
}

.content__wrapper a {
  text-decoration: none;
  color: #ca9d75;
}

.header__title {
  text-transform: capitalize;
}

.text-size {
  font-size: 20px;
}

.text-brown {
  color: var(--text-brown);
}

/* About Page */
.about__container {
  height: 100vh;
  background-color: var(--main-color);
}

.image__container {
  border-radius: 30% 70% 69% 31% / 28% 30% 70% 72%;
  /* background-image: linear-gradient(to right top, #ca9d75, #ac746d, #7e5464, #4b3a50, #1d2231); */
  background: linear-gradient(rgba(24, 29, 36, 0.571), rgba(202, 157, 117, 0.441)),
    url("https://res.cloudinary.com/dbdgevqyn/image/upload/v1628578821/portfolio/Budom.jpg");
  /* url("./assets/images/hero/hero.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
